<ng-container *ngIf="service">
  <div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-card fxFlex="0 1 25%" style="background: #fcfcfc">
        <mat-toolbar style="background: none">
          <mat-toolbar-row
            style="font-size: 0.8em; cursor: pointer; background: none"
            color="primary"
            (click)="select(e)"
            *ngFor="let e of service.endpoints"
          >
            <span
              ><span *ngIf="e.name == selectedEndpoint">>&nbsp;</span
              >{{ e.name }}</span
            >
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-card>

      <mat-tab-group fxFlex="0 1 70%" *ngIf="endpoint" animationDuration="0ms">
        <mat-tab label="Form">
          <ng-template matTabContent>
            <br />

            <mat-form-field
              class="full"
              style="width: 100%"
              *ngFor="let field of endpoint.requestValue | keyvalue; trackBy: trackByFn"
              appearance="legacy"
            >
              <mat-label>{{ field.key }}</mat-label>
              <input
                matInput
                ngModelOptions="{standalone: true}"
                [(ngModel)]="endpoint.requestValue[field.key]"
                type="text"
              />
            </mat-form-field>

            <button
              mat-raised-button
              style="font-weight: bold"
              (click)="callEndpointForm(service, endpoint)"
              color="primary"
            >
              Call
            </button>
            <br />
            <br />
            <div style="background: white" *ngIf="endpoint.responseValue">
              <ngx-table
                [data]="endpoint.responseValue"
                [configuration]="configuration"
                [columns]="columns(endpoint)"
              >
              </ngx-table>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="API">
          <ng-template matTabContent>
            <br />
             <span class="url"
                >POST </span> /{{ service.name }}/{{ endpoint.name }}
            <br /><br />
            Request<br /><br />
            <pre class="reqresp" style="padding: 1em; background: #f6f6f6">{{
              valueToString(endpoint.request, 1)
            }}</pre>
            <br /><br />
            Response<br /><br />
            <pre class="reqresp" style="padding: 1em; background: #f6f6f6">{{
              valueToString(endpoint.response, 1)
            }}</pre>
          </ng-template>
        </mat-tab>

        <mat-tab label="JSON">
          <ng-template matTabContent>
            <br />
            <div fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="1em">
              <div fxFlex="calc(50% - 0.5em)">
                Request<br /><br />
                <textarea
                  style="height: 25em; width: 98%"
                  [(ngModel)]="endpoint.requestJSON"
                ></textarea>
              </div>
              <div fxFlex="calc(50% - 0.5em)">
                Response<br /><br />
                <textarea
                  style="height: 25em; width: 98%"
                  [(ngModel)]="endpoint.responseJSON"
                ></textarea>
              </div>
            </div>
            <br />
            <button
              mat-raised-button
              style="font-weight: bold"
              (click)="callEndpoint(service, endpoint)"
              color="primary"
            >
              Call
            </button>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <br />
  </div>
</ng-container>
