<ng-container *ngIf="service">
  <div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-card fxFlex="0 1 25%" style="border: none; box-shadow: none">
        <mat-action-list style="border: 1px solid #eee">
          <span mat-list-item style="font-size: 1.2em; padding: 10px"
            >&nbsp;&nbsp;</span
          >
          <button
            mat-list-item
            style="
              cursor: pointer;
              font-weight: normal;
              border-top: 1px solid whitesmoke;
            "
            (click)="select(e)"
            *ngFor="let e of service.endpoints"
          >
            <span
              *ngIf="e.name == selectedEndpoint; else normal"
              style="font-weight: bold"
              >{{ formatName(e.name) }}</span
            >
            <ng-template #normal
              ><span>{{ formatName(e.name) }}</span></ng-template
            >
          </button>
        </mat-action-list>
      </mat-card>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-tab-group fxFlex="0 1 70%" *ngIf="endpoint" animationDuration="0ms">
        <mat-tab label="API">
          <ng-template matTabContent>
            <br />
            <div
              style="
                background: whitesmoke;
                border: 2px solid #eee;
                border-radius: 5px;
                padding: 10px;
              "
            >
              <span
                class="url"
                style="
                  padding: 5px 15px 5px 15px;
                  font-size: 0.8em;
                  font-weight: bold;
                "
                >POST </span
              >&nbsp;
              <span style="font-weight: bold">{{
                formatEndpoint(service.name, endpoint.name)
              }}</span>
            </div>
            <br />
            <div>
              <span style="font-weight: bold">URL:</span> {{ apiURL() }}
            </div>
            <br />
            <mat-divider></mat-divider>
            <br />
            Headers<br /><br />
            <pre class="reqresp" style="padding: 1em; background: #f6f6f6">
Content-Type: "application/json"
Micro-Namespace: "{{ namespace() }}"</pre
            >
            <br />
            <mat-divider></mat-divider>
            <br />
            Request<br/><br/>
            <textarea
              style="height: 25em; width: 95%; border: 1px solid whitesmoke; padding: 10px; color: #333333;"
              [(ngModel)]="endpoint.requestJSON"
            ></textarea>
            <br /><br />
            Response<br /><br />
            <textarea style="height: 25em; width: 95%; border: 1px solid whitesmoke; padding: 10px; color: #333333"
              [(ngModel)]="endpoint.responseJSON"
            ></textarea>
            <br />
            <button
              mat-raised-button
              style="font-weight: bold"
              (click)="callEndpoint(service, endpoint)"
              color="primary"
            >
              Call
            </button>
          </ng-template>
        </mat-tab>
<!--
        <mat-tab label="Form">
          <ng-template matTabContent>
            <br />

            <mat-form-field
              class="full"
              style="width: 100%"
              *ngFor="
                let field of endpoint.requestValue | keyvalue;
                trackBy: trackByFn
              "
              appearance="legacy"
            >
              <mat-label>{{ field.key | titlecase }}</mat-label>
              <input
                matInput
                ngModelOptions="{standalone: true}"
                placeholder="{{
                  formatValue(endpoint.requestValue[field.key])
                }}"
                type="text"
              />
            </mat-form-field>

            <button
              mat-raised-button
              style="font-weight: bold"
              (click)="callEndpointForm(service, endpoint)"
              color="primary"
            >
              Submit
            </button>
            <br />
            <br />
            <div style="background: white" *ngIf="endpoint.responseValue">
              <ngx-table
                [data]="endpoint.responseValue"
                [configuration]="configuration"
                [columns]="columns(endpoint)"
              >
              </ngx-table>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="JSON">
          <ng-template matTabContent>
            <br />
            <div fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="1em">
              <div fxFlex="calc(50% - 0.5em)">
                Request<br /><br />
                <textarea
                  style="
                    height: 25em;
                    width: 95%;
                    border: 1px solid whitesmoke;
                    padding: 10px;
                    color: #333333;
                  "
                  [(ngModel)]="endpoint.requestJSON"
                ></textarea>
              </div>

              <div fxFlex="calc(50% - 0.5em)">
                Response<br /><br />
                <textarea
                  style="
                    height: 25em;
                    width: 95%;
                    border: 1px solid whitesmoke;
                    padding: 10px;
                    color: #333333;
                  "
                  [(ngModel)]="endpoint.responseJSON"
                ></textarea>
              </div>
            </div>
            <br />
            <button
              mat-raised-button
              style="font-weight: bold"
              (click)="callEndpoint(service, endpoint)"
              color="primary"
            >
              Call
            </button>
          </ng-template>
        </mat-tab>
-->
        <mat-tab label="Embed">
          <ng-template matTabContent>
            <br />
            <div fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="1em">
              <div fxFlex="calc(100% - 0.5em)">
                Javascript<br /><br />
                <div
                  style="
                    padding: 1em;
                    min-height: 20em;
                    background: #444;
                    color: #f3f3f3;
                  "
                >
                  <pre>{{ embeddable }}</pre>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <br />
  </div>
</ng-container>
