<div style="margin: auto">
  <mat-card style="padding-top: 0em" class="mat-card-flat">
    <mat-card-title>
      <a routerLink="/status">Status</a>
    </mat-card-title>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <div
        fxFlex="0 1 calc(33% - 1em)"
        fxFlex.lt-md="0 1 calc(50% - 1em)"
        fxFlex.lt-sm="0 1 100%"
      >
        <form class="example-form">
          <mat-form-field appearance="outline" class="example-full-width">
            <input
              name="query"
              matInput
              [(ngModel)]="query"
              placeholder="Search"
            />
          </mat-form-field>
        </form>
      </div>
      <app-snippet
        style="margin-bottom: 1em; overflow: hidden; height: 4em; border-radius: 5px"
        fxFlex="0 1 calc(33% - 1em)"
        fxFlex.lt-md="0 1 calc(50% - 1em)"
        fxFlex.lt-sm="0 1 100%"
        src="micro status"
        fullsrc="# check services<br />micro status"
      ></app-snippet>
    </div>

    <!-- <div>
      <mat-spinner
        [diameter]="70"
        style="margin: auto;"
        *ngIf="!services"
      ></mat-spinner>
    </div> -->
    <div *ngIf="!services">
      No services found. Maybe create a
      <a routerLink="/service/new">new one?</a>
    </div>
    <ng-container *ngIf="services">
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card
          routerLink="/status/{{ service.name }}/{{ service.version }}"
          fxFlex="0 1 calc(33% - 1em)"
          fxFlex.lt-md="0 1 calc(50% - 1em)"
          fxFlex.lt-sm="0 1 100%"
          class="mat-card"
          *ngFor="let service of services | search: 'name':query"
          style="cursor: pointer; margin-bottom: 1em; background: #fcfcfc"
        >
          <mat-card-title
            style="display: flex; align-items: center; font-size: 1.25em"
          >
            <mat-icon [style.color]="hasError(service) ? '#ea4c89' : '#29ce2c'"
              >fiber_manual_record</mat-icon
            >
            &nbsp;<a
              href="#"
              routerLink="/status/{{ service.name }}/{{ service.version }}"
              >{{ service.name | title }}</a
            >
            &nbsp;&nbsp;
            <mat-chip-list aria-label="Versions">
              <mat-chip>{{ service.version }}</mat-chip>
            </mat-chip-list>
          </mat-card-title>
          <mat-card-subtitle>
            <span>{{ service.source }}</span>
          </mat-card-subtitle>
          <mat-card-content>
            {{ toStatus(service.status) | title }}. Started
            {{ service.metadata.started | timeago }} by
            {{ name(service.metadata.owner) }}.
          </mat-card-content>
        </mat-card>
      </div>
      <br />&nbsp;
    </ng-container>
  </mat-card>
</div>
