<div style="margin: auto">
  <mat-card
    style="
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 0em;
      padding-top: 0em;
    "
    class="mat-card-flat"
  >
    <mat-card-title>
      <a routerLink="/services">Services</a> &gt; New
      <!-- Using ngif here breaks viewchild, see:
        https://stackoverflow.com/questions/39158922/viewchild-not-working-cannot-read-property-nativeelement-of-undefined
      -->
    </mat-card-title>
    <mat-card-content>
      <div style="width: 50%; margin: 0 auto">
        <mat-form-field
          id="new-service-input"
          style="width: 100%; margin-top: 2em"
        >
          <mat-label>Name</mat-label>
          <input
            matInput

            [(ngModel)]="serviceName"
          />
        </mat-form-field>
        <mat-form-field
          id="new-service-input"
          style="width: 100%; margin-top: 2em"
        >
          <mat-label>Source</mat-label>
          <input matInput [(ngModel)]="source" />
        </mat-form-field>
        <br /><br />
        <button
          mat-raised-button
          [disabled]="deploying"
          color="primary"
          (click)="deploy()"
        >
          Deploy
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
