code {
  padding: 15px !important;
  font-family: "Source Code Pro" !important;
  border-radius: 8px;
  padding-right: 30px !important;
}

.code-wrapper {
  position: relative;
}

.copy-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1000;
  color: #f5f5f5;
  cursor: pointer;
}

.simple-notification a {
  color: #f3f3f3 !important;
  text-decoration: underline;
}
