<div>
  <mat-spinner
    [diameter]="70"
    style="margin: auto"
    *ngIf="!services"
  ></mat-spinner>
</div>
<div *ngIf="services" style="margin: auto">
  <mat-card style="margin-top: 0em; padding-top: 0em" class="mat-card-flat">
    <mat-card-title
      fxLayout="row"
      fxLayout.lt-sm="column"
      style="align-items: center"
    >
      <div>
        <a routerLink="/services"
          >Services&nbsp; | &nbsp;</a
        >
      </div>
      <div>
        <!-- <mat-icon style="color: green; vertical-align: middle;"
          >fiber_manual_record</mat-icon
        >-->
        {{ serviceName | title }} &nbsp;
      </div>
    </mat-card-title>

    <mat-tab-group
      animationDuration="0ms"
      [selectedIndex]="selected"
      (selectedIndexChange)="tabChange($event)"
    >
      <mat-tab style="padding-top: 1em" label="Admin" *ngIf="services[0].endpoints">
        <br />
        <app-endpoint-list
          [serviceName]="services[0].name"
          [endpointQuery]="endpointQuery"
          [selectedVersion]="selectedVersion"
        ></app-endpoint-list>
      </mat-tab>

      <mat-tab label="Info">
        <br />
        <ng-template matTabContent>
          <br />
          <app-nodes [services]="services"></app-nodes>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
