<div style="margin: auto">
  <mat-card style="margin-top: 0em; padding-top: 0em" class="mat-card-flat">
    <mat-card-title>
      <a routerLink="/services">Services</a>
      &nbsp;
      <button
        class="new-button"
        routerLink="/service/new"
        mat-raised-button
        color="primary"
        aria-label="Add new service"
      ></button>
    </mat-card-title>
    <form class="example-form">
      <mat-form-field appearance="outline" class="example-full-width">
        <input name="query" matInput [(ngModel)]="query" placeholder="Search" />
      </mat-form-field>
    </form>

    <!-- <div>
      <mat-spinner
        [diameter]="70"
        style="margin: auto;"
        *ngIf="!services"
      ></mat-spinner>
    </div> -->
    <div *ngIf="!services">
      No services found. Maybe create a
      <a routerLink="/service/new">new one?</a>
    </div>
    <ng-container *ngIf="services">
      <mat-card
        class="mat-card"
        *ngFor="let service of services | keyvalue | search: 'key':query"
        style="margin-bottom: 1em; background: #fcfcfc"
      >
        <mat-card-title
          style="display: flex; align-items: center; font-size: 1.25em"
        >
          &nbsp;<a href="#" routerLink="/service/{{ service.key }}">{{
            service.key | title
          }}</a
          >&nbsp;&nbsp;
        </mat-card-title>
        <mat-card-subtitle>
          &nbsp;<span *ngFor="let endpoint of service.value[0].endpoints; let last = last">
            {{ endpoint.name }}<span *ngIf="!last">, </span>
          </span>
        </mat-card-subtitle>
      </mat-card>
      <br />&nbsp;
    </ng-container>
  </mat-card>
</div>
