<div style="width: 100%">
  <div style="max-width: 400px; margin: 0 auto">
    <br />
    <mat-card style="background: #fcfcfc">
      <mat-card-title>Signup</mat-card-title>
      <mat-card-subtitle>Create a new account and start building services</mat-card-subtitle>
      <mat-form-field class="full" appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" type="email" />
      </mat-form-field>
      <br />
      <mat-form-field class="full" appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" type="password" />
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        type="button"
        color="primary"
        (click)="sendVerificationEmail()"
      >
        Register
      </button>
      <div *ngIf="verifySent">
        <br />
        <mat-form-field class="full" appearance="legacy">
          <mat-label>Verification code</mat-label>
          <input
            matInput
            [(ngModel)]="verificationCode"
            type="verification code"
          />
        </mat-form-field>
        <button
          mat-raised-button
          type="button"
          color="primary"
          style="font-weight: bold"
          (click)="verify()"
        >
          Verify
        </button>
      </div>
    </mat-card>
    <br />
    <div style="text-align: center">
      <a href="#" routerLink="/login" style="text-decoration: underline;">Log in</a> if you already have an
      account
    </div>
  </div>
</div>
