<div style="margin: auto">
  <mat-card style="margin-top: 0; padding-top: 0" class="mat-card-flat">
    <mat-card-title
      >Settings&nbsp;
      <span fxHide.lt-md>&#47; &nbsp;</span>Tokens</mat-card-title
    >
    <br />
    <mat-card style="margin: 0 auto; background: #fcfcfc">
      <mat-card-title>API Token</mat-card-title>
      <mat-card-subtitle>Below find your API token</mat-card-subtitle>
      <mat-card-content>
        <div
          style="
            overflow: scroll;
            word-wrap: break-word;
            background: #eee;
            border-radius: 5px;
            padding: 0.5em;
          "
        >
          {{ this.us.token().replace("Bearer ", "") }}
        </div>
      </mat-card-content>
    </mat-card>
    <br />
    <mat-card style="margin-bottom: 1em; margin: 0 auto; background: #fcfcfc">
      <mat-card-title>API Usage</mat-card-title>
      <mat-card-subtitle
        >To use the token simply pass in a "Authorization: Bearer" header to the
        Micro API.</mat-card-subtitle
      >
      <mat-card-content
        ><div style="    background: #eee; border-radius: 5px; padding: 0.5em">
          curl -H 'Authorization: Bearer $token' https://api.m3o.com
        </div></mat-card-content
      >
    </mat-card>
  </mat-card>
</div>
